header {
  font-family: Geneva, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FFECD7;
  padding: 10px;
  border: 1px solid #9C4744;
  height: 100px;
  margin: 10px 0px 0px 0px;
  background-image: url("../img/IMG_0255.JPG");
  background-size: 80px 60px contain;
}
body {
    font-family: "Helvetica", Helvetica, Geneva, sans-serif;
    font-size: 20px;
    background-color: #FFC4B8;
    color: #9C4744;
    padding: 10px;
}
/*#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #FFC4B8;
    border-radius: 0 0 5px 5px;
}*/
main {
 color: #333;
 border: 1px solid #9C4744;
 background: #FFC4B8;
 margin: 0px 0px 0px 0px;
 padding: 10px;
}
#wrapper {
 margin: 0 auto;
 }
h1 {
    font-family: "Helvetica", sans-serif;
    border-bottom: 3px solid #FFECD7;
    color: #963D62;
    font-size: 35px;
}
h2 {
    font-family: "Helvetica", sans-serif;
    color: #963D62;
    font-size: 25px;
}
p {
  font-family: Geneva;
  font-size: 18px;
  color: #963D62;
}
ul {
  font-family: Geneva;
  font-size: 18px;
  color: #963D62;
}
#foot {
 font-family: "Elephant", serif;
 color: #B07E47;
 font-size: 8px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Helvetica";
  color: #963D62;
  font-size: 15px;
  background: #ffecd7;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #963D62;
  text-decoration: none;
  color: #ffecd7;
}
